<div class="cf info">
  <h1>Listo!</h1>
  <br>
  <div class="sep"></div>
  <div class="left">
    <p class="info">Te hemos enviado un correo que puedes presentar en
    cualquier tienda de Monge para disfrutar de nuestras ofertas del Día de la Madre!</p>
    <div class="cf bottom-form">
      <div class="right submit-btn">
        <a ng-href="http://www.facebook.com/photo.php?fbid={{fotoPerfilMonge}}&makeprofile=1" target="_blank">Cambiar Foto de Perfil!</a>
      </div>
    </div>
  </div>
</div>
