<div class="cf info ultimo">
  <h1>Listo!</h1>
  <h2>Has cambiado tus apellidos a: </h2>  
  <h2>{{usuario.nombre}} {{usuario.segundoApellido}} {{usuario.primerApellido}}</h2>
  <br>
  <div class="sep"></div>
  <div class="left">
    <p class="info">Te hemos enviado un correo a {{usuario.correoElectronico}} que puedes presentar en
    cualquier tienda de Monge para disfrutar de nuestras ofertas del Día de la Madre!</p>
    <div class="cf bottom-form">
      <div class="right submit-btn">
        <a ng-href="http://www.facebook.com/photo.php?fbid={{fotoPerfilMonge}}&makeprofile=1" target="_blank">Cambiar Foto de Perfil!</a>
      </div>
    </div>
  </div>
</div>
