<div class="cf info">
  <h1>Llená la información para participar</h1>
  <br>
  <div class="sep"></div>
  <div class="left">
    <img ng-src="{{profileImg}}" alt="" width="180" height="180">
    <div class="twitboon"><img src="images/mamaBoom2.png" alt=""></div>
  </div>
	<div class="left">
		<form name="formMongeMama" ng-submit="submitFormMongeMama()">
			<table class="mongeForm">
				<tr>
					<td class="title">Cédula</td>
					<td class="title">:</td>
					<td>
						<input type="text" name="cedula" ng-model="usuario.cedula" required/>
					</td>
				</tr>
				<tr>
					<td class="title">Nombre</td>
					<td class="title">:</td>
					<td>
						<input type="text" name="nombre" ng-model="usuario.nombre" required/>
					</td>
				</tr>
				<tr>
					<td class="title">Primer Apellido</td>
					<td class="title">:</td>
					<td>
						<input type="text" name="primerApellido" ng-model="usuario.primerApellido" required/>
					</td>
				</tr>
				<tr>
					<td class="title">Segundo Apellido</td>
					<td class="title">:</td>
					<td><input type="text" name="segundoApellido" ng-model="usuario.segundoApellido" required/></td>
				</tr>
				<tr>
					<td class="title">Correo Electrónico</td>
					<td class="title">:</td>
					<td>
            <input type="email" name="correoElectronico" ng-model="usuario.correoElectronico" required/>
          </td>
				</tr>
			</table>
      <div class="cf bottom-form">
        <div class="left errors">
          <div ng-show="formMongeMama.cedula.$error.required">La Cedula es requerida.</div>
          <div ng-show="formMongeMama.cedula.$error.pattern">Formato incorrecto. Ejemplo de cedula correcta: 102340567.</div>
          <div ng-show="formMongeMama.nombre.$error.required">El nombre es requerido.</div> 
          <div ng-show="formMongeMama.primerApellido.$error.required">El Primer Apellido es requerido.</div>
          <div ng-show="formMongeMama.segundoApellido.$error.required">El Segundo Apellido es requerido.</div>
          <div ng-show="formMongeMama.correoElectronico.$error.required">El Correo Electronico es requerido.</div>
          <div ng-show="formMongeMama.correoElectronico.$error.email">El Correo Electronico esta en un formato incorrecto. Ejemplo: usuario@monge.com</div>
        </div>
        <div class="right submit-btn">
          <input type="submit" id="submit" value="{{labelSubmit}}" />
        </div>
      </div>
    </form>
	</div>
</div>

